.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* height: 60px; */
    font-size: 2rem;
    gap: 2rem;
    margin-top: 1rem;
    
    h1{
        color: red;
        animation: heading 5s infinite;
    }
}
@keyframes heading {
    0%{
        color: red;
    }
    50%{
        color: blue;
    }
    100%{
        color: red;
    }
    
}
.data{
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    color: brown;
}