.addExpenses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    font-size: 1.2rem;
}
.Input{
    display: flex;
    gap: 1.5rem;
}
.Input label{
    display: flex;
    align-items: center;
    color: brown;
    font-weight: bold;
}
.Input input{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border:none;
}
.btn{
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.btn:hover{
    background-color: brown;
    color: white;
}